<%- include("./partials/header") %>
<h1><%= post.title %></h1>
<h3>by <%=post.user.username%></h3>
<div class="row">
    <div class="col">
        <p class="postContent">
            <%= post.content %>
        </p>
    </div>
</div>
<% if(currentUser && post.user.id.equals(currentUser._id)){ %>
    <a href="/discussion/<%= post._id %>/edit" class="btn btn-outline-info">edit</a>
<% } %>
<hr>
<a href="/discussion">back to discussion</a>
<div class="container replies">
        <div class="row">
                <div class="col text-right">
                    <a href="/discussion/<%= post._id %>/comments/new">add a reply</a>
                </div>
            </div>
        <h4>Replies</h4>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>user</th>
                        <th>reply</th>
                    </tr>
                </thead>
                <tbody>
                    <% post.comments.forEach(function(comment){ %>
                        <tr>
                            <td>
                                <em>
                                   <%= comment.author.username %>
                                </em>
                            </td>
                            <td>
                                <%= comment.text %>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <br>
                                    <br>
                                    <a href="/discussion/<%= post._id%>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-outline-info">edit</a>
                                    <form id="deleteForm" id="deleteForm" action="/discussion/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button href="" class="btn btn-sm btn-outline-danger">delete</button>
                                    </form>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                    
                    </tbody>
                </table>
        </div>
</div>
<%- include("./partials/footer") %>