<%-include("../partials/header") %>
    <h1>Discussion</h1>
    <div class="row">
        <div class="col">
            <a href="/discussion/new">start new discussion</a>
        </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">title</th>
            <th></th>
            <th scope="col">comments</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% posts.forEach(function(post){ %>
            <tr>
              <td><%= post.user.username %></td>
              <td><%= post.title %></td>
              <td>
                <a href="/discussion/<%= post._id %>" class="btn btn-sm btn-outline-warning">view</a>
              </td>
              <td><%= post.comments.length %></td>
              <td><%= moment(post.createdAt).calendar() %></td>
              
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
<%- include("../partials/footer") %>