<%- include('../partials/header') %>
<h1>New Discussion</h1>
<form action="/discussion/<%=post._id%>?_method=PUT" method="POST">
    <div class="form-group">

        <label for="title">title:</label>
        <input type="text" class="form-control" id="title" name='post[title]' value="<%= post.title%>" required>

        <label for="content">content:</label>
        <textarea name="post[content]" class="form-control" id="content" cols="30" rows="10" required><%= post.content %></textarea>

        <br>
        <button type="submit" class="btn btn-outline-info" >update</button>
    </div>
</form>
<hr>
<form id="deleteForm" action="/discussion/<%= post._id %>?_method=DELETE" method="POST">
    <button href="" class="btn btn-outline-danger">delete post</button>
</form>
<%- include('../partials/footer') %>