<%- include("../partials/header") %>
<h1><%= post.title %></h1>
<h3>by <%=post.user.username%></h3>
<div class="row">
    <div class="col">
        <h6><%= moment(post.createdAt).calendar() %></h6>
        <p>
            last activity (including comments) <%=  moment(post.updatedAt).calendar() %>
        </p>
        <p class="postContent">
            <%= post.content %>
        </p>
        
    </div>
</div>
<% if(currentUser && post.user.id.equals(currentUser._id)){ %>
    <a href="/discussion/<%= post._id %>/edit" class="btn btn-outline-info">edit</a>
<% } %>
<hr>
<a href="/discussion">back to discussion</a>
<br>
<br>
<div class="container replies">
    <% if(currentUser) { %>
        <div class="row">
            <div class="form-group" >
                <form action="/discussion/<%= post._id %>/comments" method="POST" id="newComment"> 
                    <textarea class="form-control" name="comment[text]" id="comment" cols="150" rows="4" placeholder="please enter your reply"></textarea>
                    <br>
                    <button class="btn btn-outline-success" type="submit">add comment</button>            
                </form>
            </div>
        </div>
    <% } else { %> 
        <h4 class="text-center">you need to be logged in to make a comment</h4>
        <div class="row text-center">
                <a href="/login" class="text-center col">login here</a>
        </div>
    <% } %>
        <div class="row">
                <!-- <div class="col text-right">
                    <a href="/discussion/<%= post._id %>/comments/new">add a reply</a>
                </div> -->
            </div>
        <h4>Replies</h4>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>user</th>
                        <th>reply</th>
                    </tr>
                </thead>
                <tbody id="comments">
                    <% post.comments.forEach(function(comment){ %>
                        <tr>
                            <td>
                                <em>
                                   <%= comment.author.username %>
                                </em>
                            </td>
                            <td class="comment-content">
                                <%= comment.text %>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <br>
                                    <br>
                                    <button class="btn btn-sm btn-outline-info edit-button">edit</button>
                                    <form id="deleteForm" class="deleteForm" action="/discussion/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-outline-danger">delete</button>
                                    </form>
                                    <div class="form-group edit-comment-form">
                                        <form action="/discussion/<%= post._id %>/comments/<%= comment._id %>" class="edit-comment" method="POST"> 
                                            <label for="comment">comment</label>
                                            <textarea class="form-control" name="comment[text]" id="comment" cols="30" rows="5"><%= comment.text %></textarea>
                                            <br>
                                            <button class="btn btn-outline-info" type="submit">update your comment</button>         
                                        </form>
                                    </div>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                    
                    </tbody>
                </table>
        </div>
</div>
<%- include("../partials/footer") %>